{% liquid 
    render 'adastra' with 'image-banner.scss'
%}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
    {%- style -%}
      @media screen and (max-width: 749px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before,
        #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
  
      @media screen and (min-width: 750px) {
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before {
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
    {%- endstyle -%}
  {%- endif -%}
  
  {%- style -%}
    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
  {%- endstyle -%}

<div 
    id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {%- if section.settings.image != blank -%}
                <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                  {{
                    section.settings.image
                    | image_url: width: 3840
                    | image_tag:
                      loading: 'lazy',
                      width: section.settings.image.width,
                      height: image_height,
                      class: image_class,
                      sizes: sizes,
                      widths: widths
                  }}
                </div>
              {%- elsif section.settings.image_2 == blank -%}
                <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
              {%- if section.settings.image_2 != blank -%}
                <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                  {{
                    section.settings.image_2
                    | image_url: width: 3840
                    | image_tag:
                      loading: 'lazy',
                      width: section.settings.image_2.width,
                      height: image_height_2,
                      class: image_class_2,
                      sizes: sizes,
                      widths: widths
                  }}
                </div>
              {%- endif -%}
        <div class="banner_content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <div class="banner__box banner__box content-container content-container--full-width-mobile">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'heading' -%}
                    <h2
                      class="banner__heading inline-richtext"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.heading }}
                    </h2>
                  {%- when 'text' -%}
                    <div class="banner__text {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                    >
                      <p>{{ block.settings.text }}</p>
                    </div>
                  {%- when 'buttons' -%}
                    <div
                      class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {%- if block.settings.button_label_1 != blank -%}
                        <a
                          class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                        >
                          {{- block.settings.button_label_1 | escape -}}
                        </a>
                      {%- endif -%}
                      {%- if block.settings.button_label_2 != blank -%}
                        <a
                          class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                        >
                          {{- block.settings.button_label_2 | escape -}}
                        </a>
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
        </div> 
</div>


{% schema %}
{
    "name": "Image banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "First image"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Second image"
        },
        {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "Image overlay opacity",
            "default": 0
        },
        {
            "type": "select",
            "id": "image_height",
            "options": [
                {
                    "value": "adapt",
                    "label": "Adapt to first image"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ],
            "default": "medium",
            "label": "Banner height",
            "info": "For best results, use an image with a 3:2 aspect ratio. Learn more"
        },
        {
            "type": "select",
            "id": "desktop_content_position",
            "options": [
                {
                    "value": "top-left",
                    "label": "Top Left"
                },
                {
                    "value": "top-center",
                    "label": "Top Center"
                },
                {
                    "value": "top-right",
                    "label": "Top Right"
                },
                {
                    "value": "middle-left",
                    "label": "Middle Left"
                },
                {
                    "value": "middle-center",
                    "label": "Middle Center"
                },
                {
                    "value": "middle-right",
                    "label": "Middle Right"
                },
                {
                    "value": "bottom-left",
                    "label": "Bottom Left"
                },
                {
                    "value": "bottom-center",
                    "label": "Bottom Center"
                },
                {
                    "value": "bottom-right",
                    "label": "Bottom Right"
                }
            ],
            "default": "middle-center",
            "label": "Desktop content position"
        },
        {
            "type": "checkbox",
            "id": "show_text_box",
            "default": true,
            "label": "Show container on desktop"
        },
        {
            "type": "select",
            "id": "desktop_content_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center",
            "label": "Desktop content alignment"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "background-1"
        },
        {
            "type": "header",
            "content": "ANIMATIONS"
        },
        {
            "type": "select",
            "id": "image_behavior",
            "options": [
                {
                    "value": "none",
                    "label": "None"
                },
                {
                    "value": "ambient",
                    "label": "Ambient"
                },
                {
                    "value": "fixed",
                    "label": "Fixed"
                }
            ],
            "default": "none",
            "label": "Image behavior"
        },
        {
            "type": "header",
            "content": "MOBILE LAYOUT"
        },
        {
            "type": "select",
            "id": "mobile_content_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value":"center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center",
            "label": "Mobile content alignment"
        },
        {
            "type": "checkbox",
            "id": "stack_images_on_mobile",
            "default": true,
            "label": "Stack images on mobile"
        },
        {
            "type": "checkbox",
            "id": "show_text_below",
            "default": true,
            "label": "Show container on mobile"
        }

    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "default": "Image banner",
                    "label": "Heading"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "options": [
                        {
                            "value": "h2",
                            "label": "Small"
                        },
                        {
                            "value": "h1",
                            "label": "Medium"
                        },
                        {
                            "value": "h0",
                            "label": "Large"
                        }
                    ],
                    "default": "h1",
                    "label": "Heading size"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "limit": 1,
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "text",
                    "default": "Give customers details about the banner image(s) or content on the template.",
                    "label": "Description"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "options": [
                        {
                            "value": "body",
                            "label": "Body"
                        },
                        {
                            "value": "subtitle",
                            "label": "Subtitle"
                        },
                        {
                            "value": "caption-with-letter-spacing",
                            "label": "Uppercase"
                        }
                    ],
                    "default": "body",
                    "label": "Text style"
                }
            ]
        },
        {
            "type": "buttons",
            "name": "Buttons",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "button_label_1",
                    "default": "Button label",
                    "label": "First button label",
                    "info": "Leave the label blank to hide the button."
                },
                {
                    "type": "url",
                    "id": "button_link_1",
                    "label": "First button link"
                },
                {
                    "type": "checkbox",
                    "id": "button_style_secondary_1",
                    "default": false,
                    "label": "Use outline button style"
                },
                {
                    "type": "text",
                    "id": "button_label_2",
                    "default": "Button label",
                    "label": "Second button label",
                    "info": "Leave the label blank to hide the button."
                },
                {
                    "type": "url",
                    "id": "button_link_2",
                    "label": "Second button link"
                },
                {
                    "type": "checkbox",
                    "id": "button_style_secondary_2",
                    "default": false,
                    "label": "Use outline button style"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "image banner",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                },
                {
                    "type": "buttons"
                }
            ]
        }
  ]
}
{% endschema %}